@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Appointment Scheduler</h1>
    <p>web base app for manage your schedulers</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First</h2>
        Logging in requires a Email and password. The user ID should be a valid email ID and the password is of the user’s choice.
        and app have an option to change password.
    </div>
    <div class="col-md-4">
        <h2>second</h2>
        Adding new appointments and deleting some of them. Auto-deletion of the appointment after the time has passed is also available feature.
    </div>
    <div class="col-md-4">
        <h2>third</h2>
        The list of all the upcoming appointments and the feature for searching for an appointment should be there.
    </div>
    @*<div class="col-md-4">
            <h2>Forty</h2>
            Sending SMS to the user prior to the appointment time
        </div>*@
</div>
@*<p>here is @ViewBag.u</p>*@
